<%- include("partials/header"); -%>

  <button type="button" class="btn btn-dark" onClick="openOverlay()">About</button>

  <div class="overlay about" id="overlay">
    <button type="button" class="btn btn-danger" onclick="closeOverlay()">Close</button>

    <div class="overlay-content">
      <h2>Vincent Ahn</h2>
      <p>I am a programmer currently working as an infotainment software engineer at Honda R&D Americas, LLC.</p>
      <p>My hobbies are playing video games and learning full stack web development.</p>
    </div>
  </div>

<%- include("partials/footer"); -%>
