<%- include("partials/header"); -%>

  <div class="overlay about" id="overlay">
    <div class="overlay-close-button">
      <a onclick="closeOverlay()">
        <i class="fas fa-times fa-2x"></i>
      </a>
    </div>

    <div class="overlay-content">
      <h2>Vincent Ahn</h2>
      <p>I am a programmer currently working as an infotainment software engineer at Honda R&D Americas, LLC.</p>
      <p>My hobbies are playing video games and learning full stack web development.</p>
    </div>
  </div>

  <div class="profile">
    <div id="profile-particles-js"></div>
    <h1 class="my-name">Vincent Ahn</h1>
  </div>

  <div class="project">
    <h2>Projects</h2>

    <div id="projectCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
      <ol class="carousel-indicators">
        <li data-target="#projectCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#projectCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">

        <div class="carousel-item active">
          <div class="project-slide">
            <div class="project-image">
              <a href="https://vincent-ahn-website.herokuapp.com/">
                <img src="img/website.jpg" alt="Image cannot be found." class="project-snapshot">
              </a>
            </div>
            <div class="project-information">
              <h3>My Website</h3>
              <br>
              <p>The very website you are looking at. This website is used to showcase personal projects that I have worked on or am currently working on.</p>
              <br>
              <p class="project-resource-icons">
                <a title="HTML5">
                  <i class="fab fa-html5 fa-lg"></i>
                </a>
                <a title="CSS3">
                  <i class="fab fa-css3-alt fa-lg"></i>
                </a>
                <a title="Bootstrap">
                  <i class="fab fa-bootstrap fa-lg"></i>
                </a>
                <a title="Front End Javascript">
                  <i class="fab fa-js fa-lg"></i>
                </a>
              </p>
              <p>
                <a title="Node.js">
                  <i class="fab fa-node-js fa-lg"></i>
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="project-slide">
            <div class="project-image">
              <a href="https://vincent-ahn-todolist.herokuapp.com/">
                <img src="img/todolist-website.jpg" alt="Image cannot be found." class="project-snapshot">
              </a>
            </div>
            <div class="project-information">
              <h3>To Do List Website (In Progress)</h3>
              <br>
              <p>
                Website where users can use a calendar widget to navigate across different pages by date and create a to do list for each date. New entries can be submitted, entries can be marked as completed, and entries can be deleted.
              </p>
              <br>
              <p class="project-resource-icons">
                <a title="HTML5">
                  <i class="fab fa-html5 fa-lg"></i>
                </a>
                <a title="CSS3">
                  <i class="fab fa-css3-alt fa-lg"></i>
                </a>
                <a title="Bootstrap">
                  <i class="fab fa-bootstrap fa-lg"></i>
                </a>
                <a title="Front End Javascript">
                  <i class="fab fa-js fa-lg"></i>
                </a>
              </p>
              <p>
                <a title="Node.js">
                  <i class="fab fa-node-js fa-lg"></i>
                </a>
                <a title="MySQL">
                  <i class="fa fa-database fa-lg"></i>
                </a>
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <div class="project-slide more-projects-slide">
            <h3>More Projects Incoming</h3>
          </div>
        </div>

      </div>
      <a class="carousel-control-prev" href="#projectCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#projectCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="contact">
    <div id="contact-particles-js"></div>
    <div class="contact-title">
      <h2>Contact Me</h2>
    </div>
    <div class="contact-icons">
      <p class="contact-icons">
        <a href="https://www.linkedin.com/" title="LinkedIn">
          <i class="fab fa-linkedin fa-2x"></i>
        </a>
        <a href="https://github.com/vincentahn" title="Github">
          <i class="fab fa-github fa-2x"></i>
        </a>
        <a href="mailto:jmanoba@hotmail.com" title="Email">
          <i class="fas fa-envelope fa-2x"></i>
        </a>
      </p>
    </div>
  </div>

<%- include("partials/footer"); -%>
