<%- include("partials/header"); -%>

  <button type="button" class="btn btn-dark" onClick="openOverlay()">About</button>

  <div class="overlay about" id="overlay">
    <button type="button" class="btn btn-danger" onclick="closeOverlay()">Close</button>
  </div>

<%- include("partials/footer"); -%>
