/* Containers */
a{
  color: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}

a:hover{
  color: #50d890;
}

body{
  background-color: #222831;
  color: #21bf73;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

.overlay{
  background-color: rgb(0,0,0, 0.5);
  display: none;
  height: 100%;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  transition: width 3s;
  width: 100%;
  z-index: 1;
}

/** Profile **/

/** About **/

/** Project Section **/

/** Contact Me **/

/** Footer **/
.footer{
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.copyright{
  margin: 1rem 0 1rem 0;
}

/* Text */

/* Buttons */

/* Images */
